{% extends "layouts/main.html" %}
{% block content %}
<main class="mdl-layout">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h1 class="page-title mdl-typography--display-4 mdl-typography--text-center">TournamentSekai</h1>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="credentials-card mdl-cell--8-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                {% block credentials_title %}
                {% endblock %}
            </div>
            <div class="mdl-card__supporting-text">
                {% block credentials_content %}
                {% endblock %}
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
{% endblock %}