.page-title {
    margin-bottom: 2%;
}

.mdl-grid {
    padding: 30px;
}

.credentials-card {
    padding: 20px;
    margin-bottom: 20px;
}

.credentials-card .mdl-card__title {
    padding-bottom: 0;
}

.credentials-card .credentials-form {
    padding-top: 5px;
}

.credentials-card .mdl-textfield {
    width: 100%;
}

.credentials-card .mdl-card__supporting-text {
    padding-bottom: 0;
}