.loader {
    align-items: center;
    background-color: #EFEFEF;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.page-content {
    padding: 32px;
}

.mdl-layout__drawer {
    border: none;
}

.drawer-profile {
    background-color: #607d8b;
    color: #FFFFFF;
    padding: 30px;
    text-transform: capitalize;
}

.drawer-profile span[data-api="user-login"] {
    text-transform: lowercase;
}
